body {
  background-color: #1F1F1F;
}

/* Nav */
nav {
  background-color: white;
} 
nav ul {
  margin: 0;
  padding: 1em;
}
nav ul li {
  display: inline-block;
  margin-right: 1em;
}
nav ul li a {
  color: black;
  text-decoration: none;
}
